body {
  text-align: center;
  align-items: center;
  background-color: antiquewhite;
}

#gamePlay {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-right: 200px;
}

#backgroundGrid {
  background-color: black;

}
#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: calc(100vh - 500px);
  width: calc(100vh - 500px);
}
#grid > div {
  background-color: white;
  padding: 10px;
}
